<h1>Hi <%= name %>,</h1>
<p>This is a friendly reminder that your AutoCost subscription is due for renewal in <%= days %> days.</p>
<p>Please log in to your account to make a payment and continue using our service.</p>
